menu "TCP streaming Wi-Fi (ESP32-S3 STA)"

config ESP_WIFI_REMOTE_SSID
    string "Remote Wi-Fi SSID"
    default "ASLHotspot"

config ESP_WIFI_REMOTE_PASSWORD
    string "Remote Wi-Fi Password"
    default "teamnarm123!@#"

config ESP_WIFI_REMOTE_MAX_RETRIES
    int "Remote Wi-Fi maximum retry count"
    default 5
    range 0 20

endmenu

